<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <header class="content">
    <div class="logo">
      <img src="../images/depositphotos_68261337-stock-illustration-vector-logo-slice-of-pizza.jpg" width="60"
        height="50" alt="">
      <h3>
        <%= title %>
      </h3>
    </div>
    <ul>
      <nav class="nav">
        <ul class="lista-menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">Cardápio</a></li>
          <li><a href="#">Sobre Nós</a></li>
          <li><a href="#">Contato</a></li>
          <li><a href="#"><i class="bi bi-instagram"></i></a></li>
          <li><a href="#"><i class="bi bi-facebook"></i></a></li>
          <li><a href="#"><i class="bi bi-cart3"></i></a></li>
        </ul>
      </nav>
    </ul>
  </header>
  <section class="primeira-section">
    <div class="conteudo-principal">
      <h1 class="indie">DEIXE SUAS NOITES MAIS SABOROSAS!!!</h1>
      <h2 class="indie-sub">As pizzas mais recheadas de Guarulhos</h2>
      <div class="btn">
        <button class="reservar">Reserve a sua</button>
        <button class="montar">Montar a sua pizza</button>
      </div>
    </div>
  </section>
  <section class="cardapio">

    <h2>Cardapio</h2>

    <div class="pizzas-cardapio">

      <div class="calabresa">
        <img src="../images/calabresa-removebg-preview.png" alt="calabresa">
        <div class="conteudo">
          <h3>Calabresa</h3>
          <h4>Brotão 6 pedaços<span>R$12,00</span></h4>
          <h4>Normal 8 pedaços <span>35,00</span></h4>

          <h4>Grande 12 pedaços <span>55,00</span></h4>
          <div class="btn">
            <button class="montar">Igredientes</button>
          </div>
        </div>
      </div>

        <div class="baina">
          <img src="" alt="baiana">
          <div class="conteudo">
            <h3>Baiana</h3>
            <h4>Brotão 6 pedaços<span>R$12,00</span></h4>
            <h4>Normal 8 pedaços <span>35,00</span></h4>
            <h4>Grande 12 pedaços <span>55,00</span></h4>
            <div class="btn">
              <button class="montar">Igredientes</button>
            </div>
          </div>
        </div>


        <div class="estrogonof">
          <img src="" alt="estrogonof">
          <div class="conteudo">
            <h3>estrogonof</h3>
            <h4>Brotão 6 pedaços<span>R$12,00</span></h4>
            <h4>Normal 8 pedaços <span>35,00</span></h4>
            <h4>Grande 12 pedaços <span>55,00</span></h4>
            <div class="btn">
              <button class="montar">Igredientes</button>
            </div>
          </div>
        </div>

    </div>

  </section>
  <section class="sobre-nos" id="sobrenos">
    <div class="main">
      <div class="contentsobre">
        <h2>Sobre nós</h2>
        <p>
          Dolor voluptatibus consequatur, distinctio architecto accusantium eius tenetur officiis vero doloribus iusto
          quo. Explicabo unde eum accusamus sit possimus voluptatum non
          Nobis deleniti doloribus illd dolorum tenetur inventore architecto at quam repellendus, quidem earum nisi!
          Similique vel natus perferendis illo, sapiente harum molestiae blanditiis architecto.</p>
      </div>
      <div class="img-cozinha">
        <img src="../images/cozinha.jpg" alt="">
      </div>
    </div>
  </section>

  <section class="contatos" id="contatos">
    <h3>Contatos</h3>
    <div class="contatos-secao">
      <div>
        <i class="fas fa-phone"></i>
        <span>(37) 9981283</span>
      </div>
      <div>
        <i class="fab fa-instagram"></i>
        <span>@thomas.camposs</span>
      </div>
      <div>
        <i class="fab fa-facebook-f"></i>
        <span>Thomas Abner Adão Campos</span>
      </div>
    </div>
  </section>
  <footer>
    <h4>Desenvolvido por Thomas Campos</h4>
  </footer>
</body>

</html>
