<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <header class="content">
    <div class="logo">
      <img src="../images/depositphotos_68261337-stock-illustration-vector-logo-slice-of-pizza.jpg" width="60"
        height="50" alt="">
        <h3>  <%= title %> </h3>
      </div>
    <ul>
      <nav class="nav">
        <ul class="lista-menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">Sobre Nós</a></li>
          <li><a href="#">Cardápio</a></li>
          <li><a href="#">Contato</a></li>
          <li><a href="#"><i class="bi bi-instagram"></i></a></li>
          <li><a href="#"><i class="bi bi-facebook"></i></a></li>
          <li><a href="#"><i class="bi bi-cart3"></i></a></li>
        </ul>
      </nav>
    </ul>
  </header>
  <section class="primeira-section">
    <div class="conteudo-principal">
      <h1 class="indie">DEIXE SUAS NOITES MAIS SABOROSAS!!!</h1>
      <h2 class="indie-sub">As pizzas mais recheadas de Guarulhos</h2>
      <div class="btn">
        <button class="reservar">Reserve a sua</button>
        <button class="montar">Montar a sua pizza</button>
      </div>
    </div>
  </section>
  <p>Bem vido a <%= title %>
  </p>
</body>

</html>
